#!/bin/bash
gpg_key={{ gpg_key }}
dest="cf+http://compmodels"

# Rackspace
export CLOUDFILES_USERNAME="{{ rackspace_username }}"
export CLOUDFILES_APIKEY="{{ rackspace_api_key }}"
export PASSPHRASE='{{ gpg_pass }}'


duplicity restore --encrypt-key "$gpg_key" "${dest}" "$1"
