[jupyterhub_host]
jupyterhub_host ansible_ssh_user=root ansible_ssh_host=<public IP> servicenet_ip=<private snet IP>

[jupyterhub_host]
jupyterhub_nfs ansible_ssh_user=root ansible_ssh_host=<public IP> servicenet_ip=<private snet IP>

[jupyterhub_nodes]
jupyterhub_node1 ansible_ssh_user=root ansible_ssh_host=<public IP> fqdn=<hostname> servicenet_ip=<private snet IP>
jupyterhub_node2 ansible_ssh_user=root ansible_ssh_host=<public IP> fqdn=<hostname> servicenet_ip=<private snet IP>

[proxy]
proxy_server ansible_ssh_user=root ansible_ssh_host=<public IP> jupyterhub_host=<snet IP of jupyterhub> servicenet_ip=<private snet IP>

[nfs_clients]
jupyterhub_host
jupyterhub_node1
jupyterhub_node2