[jupyterhub_host]
jupyterhub_host ansible_ssh_user=root ansible_ssh_host=<public IP> servicenet_ip=<private snet IP>

# if you want to have a test host
#jupyterhub_host_test ansible_ssh_user=root ansible_ssh_host=<public IP> servicenet_ip=<private snet IP>

[jupyterhub_nodes]
jupyterhub_node1 ansible_ssh_user=root ansible_ssh_host=<public IP> fqdn=<hostname> servicenet_ip=<private snet IP>
jupyterhub_node2 ansible_ssh_user=root ansible_ssh_host=<public IP> fqdn=<hostname> servicenet_ip=<private snet IP>
jupyterhub_node3 ansible_ssh_user=root ansible_ssh_host=<public IP> fqdn=<hostname> servicenet_ip=<private snet IP>
jupyterhub_node4 ansible_ssh_user=root ansible_ssh_host=<public IP> fqdn=<hostname> servicenet_ip=<private snet IP>
jupyterhub_node5 ansible_ssh_user=root ansible_ssh_host=<public IP> fqdn=<hostname> servicenet_ip=<private snet IP>
jupyterhub_node6 ansible_ssh_user=root ansible_ssh_host=<public IP> fqdn=<hostname> servicenet_ip=<private snet IP>
jupyterhub_node7 ansible_ssh_user=root ansible_ssh_host=<public IP> fqdn=<hostname> servicenet_ip=<private snet IP>

# if you want to have a test node
#jupyterhub_node_test ansible_ssh_user=root ansible_ssh_host=<public IP> fqdn=<hostname> servicenet_ip=<private snet IP>

[proxy]
proxy_server ansible_ssh_user=root ansible_ssh_host=<public IP> jupyterhub_host=<snet IP of jupyterhub> servicenet_ip=<private snet IP>
