---
# Rename this file to secrets.vault.yml and edit it to include the specific
# keys, certificates, etc. for your deployment.
#
# Note that after you do this, you should encrypt the file with ansible vault
# so that the usernames are not public:
#
#     ansible-vault encrypt secrets.vault.yml

# Overwritten common variables (see common role for details)
github_usernames: []
other_ssh_keys: []

# Overwritten rackspace variables (see rackspace role for details)
rackspace_api_key: ''
rackspace_username: ''

# Overwritten NFS variables (see the nfs_server and nfs_client roles for details)
nfsserver: ''
nfsdomain: ''
nfspath: ''
exchange: ''

# Overwritten hub variables (see hub role for details)
configproxy_auth_token: ''
cookie_secret: ''
oauth_client_id: ''
oauth_client_secret: ''
oauth_callback_url: ''
oauth_hosted_domain: ''
jpy_postgres_password: ''
jupyterhub_admin_user: ''
hub_base_url: ''
nbgrader_user: ''
nbgrader_root: ''
assignments_repo_name: ''
assignments_repo_url: ''
assignments_repo_clone_url: ''
gradebook_postgres_password: ''
