---
# Rename this file to secrets.vault.yml and edit it to include the specific
# keys, certificates, etc. for your deployment.
#
# Note that after you do this, you should encrypt the file with ansible vault
# so that the usernames are not public:
#
#     ansible-vault encrypt secrets.vault.yml

# Overwritten common variables (see common role for details)
github_usernames: []
other_ssh_keys: []

# Overwritten backup variables (see backup role for details)
backup_source_directory: ''
backup_container: ''
gpg_key: ''
gpg_pass: ''
rackspace_api_key: ''
rackspace_username: ''

# Overwritten NFS variables (see the nfs_server and nfs_client roles for details)
nfsserver: ''
nfsmount: ''
nfsdomain: ''
nfspath: ''

# Overwritten jupyterhub variables (see jupyterhub role for details)
configproxy_auth_token: ''
cookie_secret: ''
oauth_client_id: ''
oauth_client_secret: ''
oauth_callback_url: ''
oauth_hosted_domain: ''

# Overwritten cull/stats variables (see the cull and stats roles for details)
jupyterhub_admin_user: ''
