---
# Rename this file to users.vault.yml and edit it to include usernames for your
# own admins and users.
#
# Note that after you do this, you should encrypt the file with ansible vault
# so that the usernames are not public:
#
#     ansible-vault encrypt users.vault.yml
#
jupyterhub_admins:
- jhamrick
jupyterhub_users:
- minrk
- rgbkrk